@page
@using androkat.web.Pages.Ad
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section meta_extra {
    <script type="text/javascript">
        $(document).ready(function () {
            @{
                    if (Model.ShowToast)
                    {
                        <text>
                            $("#myToast").toast("show");
                        </text>
                }
                }
                                    });
    </script>
}
@section scripts {
}

<div class="container">
    <div class="row">
        <div class="col-md-6" data="left">
            <div class="border" style="word-break: break-all;">
                <div style="margin-bottom: 5px;"> @Html.Raw(Model.AdminAResult.MaiAnyagok) </div>
            </div>
        </div>
        <div class="col-md-6" data="right">
            <div class="border">
                <strong>Hírek</strong><br>
                @Html.Raw(Model.NewsInfo)
            </div>
            <div class="border">
                <strong>Blogok</strong><br>
                @Html.Raw(Model.BlogInfo)
            </div>
            <div class="border" data="radio">
                <strong>Mai rádió műsorok</strong><br>
                <div style="margin-bottom: 5px;">
                    @Html.Raw(Model.AdminBResult.Radio)
                </div>
                <div style="margin-bottom: 5px; word-break: break-all;">
                    @Html.Raw(Model.AdminBResult.RadioList)
                </div>
            </div>
            <div class="border" *ngIf="bl.adminBResult">
                <strong>Tipusok mennyiségileg</strong><br>
                <form method="post" asp-page-handler="DeleteOld" style="margin-top: 10px;">
                    <button type="submit">Régiek törlése</button>
                </form><br>
                <div style="margin-bottom: 5px;">@Html.Raw(Model.AdminResult.Header)</div>
                <span>@Html.Raw(Model.AdminBResult.CountOfTipusok)</span>
            </div>
            <div class="border" style="word-break: break-all;">
                <strong>system tábla</strong> (cache-ből)<br>
                <span>@Html.Raw(Model.AdminBResult.SysTable)</span>
            </div>
        </div>
    </div>
</div>
<div id="myToast" class="toast position-fixed top-0 start-0 m-5 p-3" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            @Html.Raw(Model.ToastMessage)
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>